body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid {
  max-width: 32em;
  padding: 1em;
}

.clues-wrapper {
  max-width: 40em;
  display: flex;
}

.direction {
  flex: auto;
  margin-left: 1em;
  margin-right: 1em;
}

.crossword-wrapper {
  display: flex;
  flex-direction: row;
}

.clue {
  margin-top: 0.5em;
}

@media (max-width: 60em) {
  .crossword-wrapper {
    flex-direction: column;
  }
}